<% include partials/header %>

<div class="container">
    <div class="row" style="margin-top: 100px;">
        <div class="col-sm" style="margin-right: 0px;">
            <img class="img-fluid " style="max-width: 500px;max-height: 350px; width: 100%;height: 100%;" src="<%=stock.image%>" alt="">
        </div>
        <div class="col-sm" style="margin-left: 50px;border-left: 1px solid gray;padding-right: 0;margin-right: 0; ">
            <ul class="list-group">
                <li class="list-group-item name-info">Tên</li>
                <li class="list-group-item name-info">Vật liệu</li>
                <li class="list-group-item name-info">Số lượng</li>
                <li class="list-group-item name-info">Giá nhập</li>
                <li class="list-group-item name-info">Giá bán</li>
                <li class="list-group-item name-info">Ngày nhập</li>
            </ul>
        </div>
        <div class="col-sm" style="padding-left: 0; margin-right:20px;padding-left:0;margin-left: 0; ">
            <ul class="list-group">
                <li class="list-group-item item-info"><%=stock.name%></li>
                <li class="list-group-item item-info"><%=stock.material%></li>
                <li class="list-group-item item-info"><%=stock.totals%></li>
                <li class="list-group-item item-info"><%=stock.import_price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.")%>.000 đ</li>
                <li class="list-group-item item-info"><%=stock.sell_price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.")%>.000 đ</li>
                <% var day = dateformat(stock.created_at,"dd-mm-yyyy HH:MM");%>
                <li class="list-group-item item-info"><%=day%></li>
            </ul>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="text-right">
            <form class="d-inline show-btn" action="/index/<%=stock._id%>/edit" method="GET">
                <button class="btn btn-warning">Sữa</button>
            </form>
            <form class="d-inline show-btn" action="/index/<%=stock._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Xóa</button>
            </form>
            <form class="d-inline show-btn" action="/sell/add/<%=stock._id%>" method="POST">
                <button class="btn btn-primary">Thêm vào giỏ</button>
            </form>
        </div>
    </div>
    <div class="row" style="margin-top:30px;">
        <div>
            <h3>Chú thích:</h3>
            <p><%=stock.description%></p>
        </div>
    </div>
</div>

<% include partials/footer %>